//
// Custom Deck Styles
//

article.deck-container
  @each $tag in p, ol, ul
    #{$tag}.medium
      font-size: 1.5rem

    #{$tag}.small
      font-size: 1rem

  .lattice-image
    +background-image('lattice', 250px, 191px)

    @media #{$xga}
      +background-image('lattice', 500px, 380px)

  header.slide
    +background-image('lattice', 131px, 100px)
    background-position: center 42vh
    min-height: inherit
