//
// Custom Deck Styles
//

article.deck-container
  div.MathJax_Display
    overflow-x: auto
    overflow-y: hidden

  @each $tag in p, ol, ul
    @media #{$xga}
      #{$tag}.small
        font-size: 1rem

      #{$tag}.large
        font-size: 2.5rem

  .lattice-image
    +background-image('lattice', 250px, 191px)

    @media #{$xga}
      +background-image('lattice', 400px, 343px)
